<div class="<%%= category == @active_category ? 'active category' : 'category' %>">
  <div class="category_folder">
    <%%= link_to_remote image_tag('category.png'), :url => <%= table_name %>_url(:category => category), :method => :get %>
  </div>
  <div class="category_text">
    <%%= link_to_remote category.name, :url => <%= table_name %>_url(:category => category), :method => :get %>
  </div>
</div>
