<p><%%=h @<%= category_singular_name %>.name %></p>

<%%= link_to 'Edit', edit_<%= category_singular_name %>_path(@<%= category_singular_name %>) %> |
<%%= link_to 'Back', <%= categories_plural_name %>_path %>
