<%- form_tag do -%>
  <p>Insert this image into your document.</p>
  <table id="show_form_fields" class="aftimagr_form" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="label"><%= label_tag :alt, 'Alt text:' %></td>
      <td class="field"><%= text_field_tag :alt, image.alt, :size => 40 %></td>
    </tr>
    <tr>
      <td class="label">URL:</td>
      <td class="field">
        <%= text_field_tag :url, nil, :size => 40 %>
        <div class="example">Example: http://www.google.com/</div>
      </td>
    </tr>
    <%- unless AFTIMAGR_IMG_CSS_CLASSES.empty? -%>
    <tr>
      <td class="label">CSS class</td>
      <td class="field">
        <%- empty_option = '<option value=""></option>'
            select_options = options_for_select(AFTIMAGR_IMG_CSS_CLASSES.collect { |class_name| [class_name, class_name] }) -%>
        <%= select_tag :css_class, empty_option + select_options %>
      </td>
    </tr>
    <%- end -%>
  </table>
<%- end -%>