<%%= render :partial => 'messages' %>

<%%- form_for(<%= model_class_name %>.new, :html => { :multipart => true }) do |f| -%>
  File: <%%= f.file_field :uploaded_data %><br />
  Alt Text: <%%= f.text_field :alt %><br />
  <%%= f.submit 'Upload' %>
<%%- end -%>

<div><%%= link_to 'List', <%= plural_name %>_path %></div>
